.idea
/.idea
.iws
workspace.xml
tasks.xml
/notes-app/node_modules/
/notes-app/node_modules
/weather-app/node_modules/
/weather-app/node_modules
/web-server/node_modules/
/web-server/node_modules
/task-manager/node_modules/
/task-manager/node_modules
